{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rende +</title>
    <link rel="shortcut icon" href="{% static 'img/estatisticas.png' %}"type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="body">
    <header >
        <nav class="navbar navbar-light bg-light" style="background-color: whitesmoke;">
            <a class="navbar-brand" href="">
              <img id="img" src="{% static 'img/estatisticas.png'%}" width="45" height="45" class="d-inline-block-align-top" alt="">
              <h1 id="h1"> Rende +</h1>
            </a>
        </nav>
    </header>
    <main >
        <article class="conteiner">

            <div class="text-center">
                <img src="{% static 'img/estatisticas.png'%}" class="rounded" alt="..." height="150">
                <h2 id="h22">Rende +</h2>
            </div>

            <p><strong>Rende + </strong>, é uma impresa ficitícia criada pelos alunos da Eletiva: Contabilazando. Do professor Carlos, cujo objetivo é expor oque é Renda fixa, e qual sua diferença entre a Taxa básica de Juros (SELIC) e quais investimentos são aconcelhados para a Renda Fixa.</p>

            <div>
                <h2 id="h2">CERTIFICADO DE DEPÓSITO BANCÁRIO</h2>
                <p class="p">C.D.B</p>
            </div>
                
            <p>O CDI (Certificado de Depósito Interbancário) é um título de curtíssimo prazo emitido pelos bancos. Em algum grau, ele se assemelha ao CDB. Isso porque o CDI também é usado pelas instituições para captar recursos. Mas há uma diferença fundamental entre eles: o certificado de depósito interbancário não é oferecido diretamente aos investidores individuais. Como o próprio nome indica, ele serve para que os bancos emprestem e tomem recursos entre si de um dia para o outro. O CDI tem prazo de vencimento de um dia útil.A razão da existência do CDI é a regulação do sistema financeiro. O Banco Central determina que os bancos devem encerrar todos os dias com saldo positivo de caixa. É uma medida de segurança que procura garantir a saúde e estabilidade do sistema financeiro.<p>

            <div class="conteiner3">
                <h2 id="h2">Renda Fixa</h2>
            </div>

            <p>Renda fixa é um tipo de investimento no qual o investidor empresta seu dinheiro para instituições financeiras, bancos ou o governo em troca de uma remuneração predefinida, composta por juros e prazos determinados. Como as regras de rendimento são predefinidas, o investidor tem conhecimento antecipado do prazo da aplicação e da taxa de rendimento. Esse tipo de investimento também permite determinar o índice utilizado para valorizar o dinheiro. Por ter parâmetros fixos, essa forma de aplicação tem rendimento mais previsível do que a renda variável. Por isso, a renda fixa é indicada para pessoas com perfil de investidor conservador.</p>

            <div class="conteiner3">
                <h2 id="h2">CDB e SELIC</h2>
            </div>

            <p>Agora vamos à diferença CDI e Selic: A Selic é referência para calcular os juros de uma diversidade de operações, como empréstimos, financiamentos e compras parceladas. Já o CDI representa a média da negociação somente entre os bancos; Em relação aos investimentos, as taxas servem como indicadores de lucratividade.</p>

           
            <div class="text-center">
                <img src="{% static 'img/capturar.png'%}" class="rounded" alt="..." height="250">
            </div>
            

            <p>Normalmente, ambas as taxas possuem valores semelhantes e costumam acompanhar os mesmos movimentos, mas CDI e Selic não são a mesma coisa. Então, qual a diferença entre CDI e Selic? No geral, o CDI possui uma taxa ligeiramente abaixo da Selic. Isso porque ao contrário da Selic, o CDI é feito com lastro em títulos privados, que possuem um risco maior que os títulos públicos do governo. Ou seja, se a Selic está em 11,75%, o CDI costumar ficar em torno de 10,65%.
            Além disso, como dissemos anteriormente, a taxa DI é atualizada diariamente. Isso significa que, apesar de sempre orbitar próxima à Selic, o CDI pode variar ao longo do tempo — mesmo que a taxa básica de juros se mantenha estável.</p>

            
            <div class="text-center">
                <img src="{% static 'img/cdi.png'%}" class="rounded" alt="..." height="300">
            </div>
            

            <p>A taxa CDI costuma ficar levemente abaixo da Selic para manter os empréstimos diários entre as instituições financeiras. Em 2022, enquanto o CDI ficou em 12,38% ao ano, a Selic registrou 13,75% ao ano.</p>
            
            <div >
                <h2 id="h2">Qual melhor investimento para CDI e Renda Fixa?</h2>
            </div>
            <p>A reserva de emergência é um fundo de grande importância para quem deseja fazer um pé de meia para não passar sufoco quando surge algum imprevisto. Existem várias opções para aplicar o dinheiro destinado para essa reserva, mas qual o melhor lugar para alocar? Para tirar esta e outras dúvidas, confira este guia produzido pelo InfoMoney, que responde tudo sobre o tema. Com o CDI, pode-se guardar seu dinheiro da sua Reserva de Emergência sem correr o risco de perder seu dinheiro ou desvalorizar por conta do almento da inflaÇão, pois como vimos o CDI, acompanha a Taxa Básica de Juros (Selic).</p>

            <div class="text-center">
                <img src="{% static 'img/reserva.png'%}" class="rounded" alt="..." height="250">
            </div>
            

        </article> 
        <section>
            <h3 id="h3">
                Simulação de investimento
                <small class="text-body-secondary">(Witch Python)</small>
            </h3>
            <form action="{%url 'home'%}" method="POST"> {% csrf_token%}
                    <br>

                    <input class="form-control form-control-sm" type="text" name="capital_investimento" placeholder="Capital Investido" aria-label=".form-control-sm example" style="width: 30%;">
                    <br>
            
                    <input class="form-control form-control-sm" type="text" name="taxa_de_porcentagem" placeholder="Taxa de Porcentagem" aria-label=".form-control-sm example" style="width: 30%;">   
                    <br>

                    <input class="form-control form-control-sm" type="text" name="taxa_a_a" placeholder=" Taxa A/A" aria-label=".form-control-sm example" style="width: 30%;"> 
                    <br>

                    <div class="resultado">
                        Resultado: {{resultado}}
                    </div>
                    <br>

                    
                

                    <button type="submit" class="btn btn-success">Success</button>

                    

                
            </form>
        </section>
       
    </main> 
   
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>