{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rende +</title>
    <link rel="shortcut icon" href="{% static 'img/estatisticas.png' %}"type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7801527045016833"
     crossorigin="anonymous"></script>
</head>
<body class="body">
    <header >
        <nav class="navbar navbar-light bg-light" style="background-color: whitesmoke;">
            <a class="navbar-brand" href="">
              <img id="img" src="{% static 'img/estatisticas.png'%}" width="45" height="45" class="d-inline-block-align-top" alt="">
              <h1 id="h1"> Rende +</h1>
            </a>
        </nav>
    </header>
    <main >
        <article class="conteiner">
            <div>
                <h2 id="h2">Certificado de Depósito Bancário (CDB): Entenda o que é e como funciona</h2>
                <p>O Certificado de Depósito Bancário, conhecido como CDB, é um dos produtos de investimento mais comuns e populares no Brasil, especialmente dentro da categoria de renda fixa. Ele funciona como um título emitido por bancos para captar recursos financeiros junto a investidores, que, por sua vez, emprestam dinheiro ao banco em troca de uma remuneração futura.</p>
            </div>
    
            <div class="conteiner3">
                <h2 id="h2">Funcionamento do CDB</h2>
                <ol>
                    <li><Strong>Emissão e Investimento:</Strong>Quando um investidor decide aplicar em um CDB, está basicamente emprestando dinheiro ao banco emissor por um período determinado. Em troca, o banco se compromete a devolver o valor investido acrescido de juros ao final do prazo estipulado.</li>
                    <li><Strong>Tipos de Taxa de Retorno:</Strong>
                    <ul>
                        <li><Strong>Pré-fixado:</Strong> A taxa de retorno é acordada no momento da aplicação e permanece fixa ao longo de todo o período do investimento. Isso proporciona ao investidor previsibilidade sobre os rendimentos.</li>

                        <li><strong>Pós-fixado:</strong>A remuneração está atrelada a algum indicador econômico, frequentemente o CDI (Certificado de Depósito Interbancário) ou a taxa Selic. Assim, os rendimentos podem variar conforme as condições de mercado.</li>
                    </ul>
                    <li><Strong>Segurança:</Strong>Os CDBs são considerados investimentos de baixo risco, especialmente quando emitidos por bancos sólidos e com boa reputação. Além disso, a maioria dos CDBs conta com a garantia do Fundo Garantidor de Créditos (FGC), que garante a devolução do valor investido até um limite de R$ 250.000 por CPF e por instituição financeira em caso de falência da instituição emissora.</li>

                    <li><Strong>Liquidez:</Strong>A liquidez dos CDBs pode variar conforme o prazo do investimento. Geralmente, quanto maior o prazo, melhores são as taxas oferecidas, mas também há maior restrição para resgates antecipados sem penalidades.</li>
                </ol>
            </div>

            <div class="conteiner3">
                <h2 id="h2">Vantagens do CDB</h2>
                <ul>
                    <li><Strong>Acessibilidade:</Strong>Os CDBs são amplamente disponíveis em bancos e corretoras, o que facilita o acesso para investidores de diferentes perfis.</li>
    
                    <li><Strong>Diversificação:</Strong>Permitem diversificar o portfólio de investimentos dentro da renda fixa, aumentando a segurança e a estabilidade do investimento.</li>
                    
                    <li><Strong>Tributação:</Strong>A tributação sobre os rendimentos segue uma tabela regressiva de Imposto de Renda (IR), onde a alíquota diminui conforme o prazo de aplicação, o que pode ser vantajoso para investimentos de longo prazo.</li>
                </ul>
            </div>


           
            <div class="conteiner3">
                <h2 id="h2">Para quais tipos de investidores é recomendado?</h2>
                <ul>
                    <li><Strong>Conservadores:</Strong>Investidores que preferem segurança e estabilidade nos retornos de seus investimentos.</li>
    
                    <li><Strong>Perfil Moderado:</Strong>Aqueles que buscam um equilíbrio entre segurança e rentabilidade, aceitando algum nível de risco em troca de melhores retornos que a poupança, por exemplo.</li>
                    
                    <li><Strong>Investidores de Curto e Médio Prazo:</Strong> Dependendo do tipo de CDB escolhido (com liquidez diária ou em prazos específicos), pode ser adequado para objetivos de curto a médio prazo.</li>

                    <li>É uma opção interessante para diversificar a carteira de investimentos, especialmente considerando a proteção do Fundo Garantidor de Créditos (FGC) para investimentos de até R$ 250.000 por CPF por instituição financeira, em caso de falência do banco.</li>
                </ul>
            </div>
            
            <div>
                <h2 id="h2">Conclusão</h2>
                <p>O CDB é uma excelente opção para quem busca segurança e previsibilidade nos investimentos, além de ser uma forma de diversificar a carteira sem abrir mão de certa liquidez e rentabilidade. Contudo, é sempre importante analisar as condições específicas de cada oferta de CDB, como prazo, taxa de juros e liquidez, para escolher a opção mais adequada ao perfil e aos objetivos de investimento de cada pessoa.</p>
            </div>
            
            

        </article> 

        <section>
            <h3 id="h3">
                Simulação de investimento
                <small class="text-body-secondary">(Witch Python)</small>
            </h3>
            <form action="{%url 'home'%}" method="POST"> {% csrf_token%}
                    <br>

                    <input class="form-control form-control-sm" type="text" name="capital_investimento" placeholder="Capital Investido" aria-label=".form-control-sm example" style="width: 30%;">
                    <br>
            
                    <input class="form-control form-control-sm" type="text" name="taxa_de_porcentagem" placeholder="Porcentagem ao Ano" aria-label=".form-control-sm example" style="width: 30%;">   
                    <br>

                    <input class="form-control form-control-sm" type="text" name="taxa_a_a" placeholder="Tempo da Aplicação" aria-label=".form-control-sm example" style="width: 30%;"> 
                    <br>

                    <div class="resultado">
                        Resultado: {{resultado}}
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success">Success</button>     
            </form>
        </section>
       
    </main> 
   
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>